---
import BlogCard from '@/components/blog-card.astro'
import Link from '@/components/link.astro'
import { Image } from 'astro:assets';
import PageHead from '@/components/page-head.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import fursona from './assets/images/fursona.png';


const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="rounded-lg border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-medium">Welcome!</h3>
    </div>
        <Image src={fursona}
      alt=""
      widths={[fursona.width]}
      class="w-32 float-right object-scale-down ml-4"/>
    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        I'm Flaky, an autistic/ADHD blue jay from the UK, mainly doing projects focused on music metadata, such as:
        
        <ul class="list-disc list-inside mb-2 text-sm text-muted-foreground">
          <li>
            <Link href="https://github.com/FlakyBlueJay/mb_musicbrainzsync"
            class="text-foreground"
            underline
            external>mb_MusicBrainzSync</Link>, a plugin for sending user tags/ratings to MusicBrainz via MusicBee</li>
          <li>the <Link href="https://github.com/FlakyBlueJay/mb-rym-hierarchy"
            class="text-foreground"
            underline
            external>RateYourMusic tag hierarchy template</Link> for MusicBee based on Rate Your Music's genre, descriptor and scenes & movements trees</li>
          <li>the <Link href="https://github.com/FlakyBlueJay/TagHierarchyManager"
            class="text-foreground"
            underline
            external>Tag Hierarchy Manager</Link> for managing complex tag hierarchy templates</li>
        </ul>
      </p>
      <p class="text-muted-foreground text-sm">
        
        You can find me on <Link href="https://bsky.app/profile/flaky.bluejay" class="text-foreground" underline external>Bluesky</Link>, <Link href="https://furry.engineer/@Flaky" class="text-foreground" underline external>Mastodon</Link>, <Link href="https://rateyourmusic.com/~flaky_bastard" class="text-foreground" underline external>Rate Your Music</Link>, <Link href="https://www.last.fm/user/DonWada" class="text-foreground" underline external>Last.fm</Link>, and <Link href="https://github.com/FlakyBlueJay" class="text-foreground" underline external>GitHub</Link>.
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
